@keyframes horizontalScroll
{
    0% {background-position: 0% 0%;}
    100% {background-position: 100% 0%;}
}

@font-face {
    font-family: MarioWii;
    src: url("fonts/SuperMarioBrosWii.otf") format("opentype");
}

.marioEsque
{
    height: 300px;
    margin-top: 0px;
    padding-top: 0px;
    
    display: flex;

    background-image: repeating-linear-gradient(45deg, #16047a, #16047a 20px, #361dc4 20px, #361dc4 40px);
    background-size: 400% 400%;

    mask: conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 50%/80px 100%;

    animation-name: horizontalScroll;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#marioText
{
    font-family: MarioWii, "Gill Sans", sans-serif;
    color: #FAFAFA;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px 5px black;
}

html, body
{
    margin-top: 0px;
    padding-top: 0px;

    margin-left: 0px;
    padding-left: 0px;

    margin-right: 0px;
    padding-right: 0px;

    margin-bottom: 0px;
    padding-bottom: 0px;
}

