@keyframes horizontalScroll
{
    0% {background-position: 0% 0%;}
    100% {background-position: 200% 0%;}
}

@font-face {
    font-family: MarioWii;
    src: url("fonts/SuperMarioBrosWii.otf") format("opentype");
}

@font-face
{
    font-family: BauhasRegular;
    src: url("fonts/BauhausRegular.ttf") format("opentype");
}

@font-face
{
    font-family: BauhasBold;
    src: url("fonts/BauhausBold.ttf") format("opentype");
}

@font-face
{
    font-family: SeuratPro;
    src: url("fonts/FOT-Seurat\ Pro\ B.otf") format("opentype");
}

@font-face
{
    font-family: Wonder;
    src: url("fonts/Wonder.otf") format("opentype");
}
:root
{
    --txt-color: #FaFaFa;
    --main-dark: #16047a;
    --main-light: #361dc4;
}
.marioEsque
{
    height: 300px;
    margin-top: 0px;
    padding-top: 0px;

    display: flex;

    background-image: repeating-linear-gradient(45deg, var(--main-dark), var(--main-dark) 40px, var(--main-light) 40px, var(--main-light) 80px);
    background-size: 100% 100%;

    mask: conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 50%/80px 100%;

    animation-name: horizontalScroll;
    animation-duration: 160s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.infoDiv
{
    background-color: var(--main-dark);
    outline: var(--main-light) solid 5px;
    border-radius: 15px;
}

#marioText
{
    font-family: MarioWii, "Gill Sans", sans-serif;
    color: #FAFAFA;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px 5px black;
}

dd, dt
{
    background-color: var(--main-dark);
    outline: var(--main-light) solid 5px;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

body
{
    margin: 0;
    padding: 0;
    background-image: url("./Images/blackCheckers.png");
}

#titleRegular
{
    font-family: Wonder, "Gill Sans", sans-serif;
    font-size: 25px;
    text-align: center;
    color: #FAFAFA;
}

.normalRegular
{
    font-family: SeuratPro, "Gill Sans", sans-serif;
}

/* Alignment Classes Horizontal - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_split_screen */
.split {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 2vw;
}

.split > * {
    width: 50%
}

/* Simple opacity fade */

@keyframes tape_scroll {
    0% {
        background-position: 0vx 0vx;
    }
    100% {
        background-position: 2vx 0vx;
    }
}
.warning {
    z-index: 3;
    background-image: repeating-linear-gradient(
        45deg,
        var(--main-light),
        var(--main-light) 5vw,
        var(--main-dark) 5vw,
        var(--main-dark) 10vw
      );
      background-size: 100% 100%;
      color: var(--txt-color);
      animation: tape_scroll 5s linaer infinite;
      box-shadow: 0vw -0.5vw 25px rgba(5, 5, 5, 0.5);
}

.btn {
    align-self: center;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #4e4e4e;
    cursor: pointer;
}

.btn img {
    filter: invert(1);
}

#header {
    background-color: var(--main-light);
}
#header, h1, h2, p {
    text-align: center;
    color: var(--txt-color);
}
#header, h1 {
    font-size: 8vw;
}
h2 {
    font-size: 4vw;
}

/*  */

.content__box {
    background-color: #3a3a3a;
    border-radius: 5px;
    box-shadow: 1vw 1vw 4vw;
    width: 90%;
    /*height: 20vw;*/
    padding: 1vw;
    margin: 1vw auto;
}

/* Marquee effect - https://tympanus.net/codrops/2020/03/31/css-only-marquee-effect/ */
#marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-20% + var(--offset));
    --move-final: calc(-40% + var(--offset));;
}

.marquee__inner {
    background-size: 100% 2vw;
    width: fit-content;
    display: flex;
    position: relative;
    overflow: hidden;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee_text 5s linear infinite;
}

#marquee span {
    overflow: hidden;
    font-size: 5vw;
    padding: 0 2vw;
    white-space: nowrap;
    cursor: default;
    color:var(--txt-color)
}
/*
#marquee:hover .marquee__inner {
    animation-play-state: running;
}
*/
@keyframes marquee_text {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

/* Aurora */
