@keyframes horizontalScroll
{
    0% {background-position: 0% 0%;}
    1% {background-position: 0% 1%;}
    50% {background-position: 0% 50%;}
    100% {background-position: 0% 100%;}
}

.marioEsque
{
    height: 300px;
    margin-top: 0px;
    padding-top: 0px;
    
    display: flex;

    background: repeating-linear-gradient(
        45deg,
        #16047a,
        #16047a 10px,
        #361dc4 10px,
        #361dc4 20px
    );

    mask: conic-gradient(
        from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 50%/80px 100%;

    animation-name: horizontalScroll;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    font-family: "Gill Sans", sans-serif;
    color: #FAFAFA;
}

html, body
{
    margin-top: 0px;
    padding-top: 0px;

    margin-left: 0px;
    padding-left: 0px;

    margin-right: 0px;
    padding-right: 0px;

    margin-bottom: 0px;
    padding-bottom: 0px;
}

